<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>angular_books_rest</title>
</head>
<body data-ng-app="angular_books_rest">
	<div data-ng-controller="books_view_controller">
		<div data-ng-controller="books_controller">
				<input type="text" data-ng-model="book.title"></input> 
				<input type="text" data-ng-model="book.price"></input> 
				<input type="text" data-ng-model="book.pages"></input> 
				<input data-ng-value="add_button" type="button" data-ng-click="add()"></input>
			<hr />
			<div data-ng-repeat="_book in books">
				<p data-ng-click="remove($index)"
					data-ng-bind="_book.isbn + ' ' + _book.title"></p>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../../../lib/angular.js"></script>
	<script type="text/javascript" src="../js/angular_books_rest.js"></script>
</body>
</html>